/*header*/


/* .box1 {
  left 50%;
  transition: none;
} */
.head1wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  box-sizing: border-box;
  /* padding: 26px 0 34px 0; */
  height: 81px;
  /* width: 1200px; */
  /* background-color: aqua; */
}
.head2wrap {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* box-sizing: border-box; */
  margin: 0 auto;
  /* width: 1200px; */
  /* background-color: pink; */
}

.menu {
  display: flex;
  justify-content: space-between;
  font size: 16px;
/* background-color: yellow; */
}
